@model IEnumerable<Pie>





@{
    ViewData["Title"] = "Pie Page";
}
@if (TempData["successfull"] != null)
{
    <text>
        <script>
            $(document).ready(function () {
                alert('@TempData["successfull"]');
            });
        </script>
    </text>
    
}
<h1>Welcome @ViewBag.name</h1>
<div> <p>List of Pies</p></div>
<div>
    <table class="table table-active table-bordered table-responsive table-striped" style="color: pink;">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Detail
                </th>
                <th>
                    Update
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var pie in Model){
                <tr>
                    <td>
                        @pie.Id
                    </td>
                    <td>
                        @pie.Name
                    </td>
                    <td>
                        @pie.Price
                    </td>
                    <td>
                        <a asp-controller="Pie" asp-action="Pie" asp-route-id="@pie.Id">View</a>
                    </td>
                    <td>
                        <a asp-controller="Pie" asp-action="Update" asp-route-id="@pie.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Pie" asp-action="Delete" asp-route-id="@pie.Id">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-controller="Pie" asp-action="Add">Add new Pie</a>
</div>

